---
layout: master
title: Amerine on the Internet
from_the_blog: 3
---

<section id="intro">
	<h1>Welcome</h1>
	<p>Mark Turner is a hacker, sys admin and all around geek. He is currently the IT Director at Wescom, an Oregon based publisher with various publications throughout Oregon and California.</p>
</section>
<section id="header">
	<h1>Latest Blog Post</h1>
</section> 
  <section class="main">

	<div class="three_quarter white">
		<h2>{{site.posts.first.title}}</h2>
		<div class="elements">
			{{ site.posts.first.content }}
			<a href='{{site.posts.first.url}}#disqus_thread'>Comments</a>
		</div>
	</div>
	<div class="one_quarter black">
		<div class="title"><h2>Find me on twitter</h2></div>
		<div class="elements">
			<p class="tweet"></p>
		</div>
		<div class="title"><h2 class="normal">Connect with me</h2></div>
			<div class="icons">
				<a href="http://twitter.com/amerine" class="social"><img src="/images/social_icon_twitter.png" /></a>
				<a href="http://www.flickr.com/photos/mark_turner/" class="social"><img src="/images/social_icon_flickr.png" /></a>
				<a href="http://www.linkedin.com/in/markaturner" class="social"><img src="/images/social_icon_linkedin.png" /></a>
				<a href="http://vimeo.com/amerine" class="social"><img src="/images/social_icon_vimeo.png" /></a>
				<div class="clear"></div>
			</div>
		<div class="rss"><img src="/images/icon_rss.png" /><a href='http://feeds2.feedburner.com/amerine' class='float-right'>RSS Feed</a></div>
	</div>
	<div class="clear"></div>
	
</section>
<section class="footertop">
	<div class="one_third black">
		<div class="title"><h2 class="boxed">About this site</h2></div>
		<div class="elements">
			<img src="/images/mark-eris.png" />
			<p>This is my space. A spot on the internet to express my thoughts and share what I know with the world. My goal for this site is simple: Teach the world what I know.</p>
		</div>
		<div class="bottom"><a href="about.html">See more about Mark</a></div>
	</div>
	<div class="one_third black">
		<div class="title"><h2>From the blog</h2></div>
		<div class="elements">
			{% for post in site.posts %}
			  {% if forloop.index <= page.from_the_blog %}
			  <div class='post'>
					<h3><a href="{{post.url}}">{{post.title}}</a></h3><time datetime="{{post.date}}">{{post.date | date_to_string}}</time>
					<p>{{post.content | strip_html | truncate: 100}}</p>
					<a href='{{post.url}}#disqus_thread'>View Comments</a>
			  </div>
			  {% endif %}
			{% endfor %}
		</div>
		<div class="bottom"><a href="blog.html">See all posts</a></div>
	</div>
	<div class="one_third black">
		<div class="title"><h2 class="red">Get in touch</h2></div>
		<div class="elements">
			<div class="citem">
				<h3>Phone</h3>
				<p>+1 (541) 306-3355</p>
			</div>
			<div class="citem">
				<h3>Email</h3>
				<p><a href="mailto:mark@amerine.net">mark@amerine.net</a></p>
			</div>
			<div class="citem last">
				<h3>Gtalk</h3>
				<p><a href="mailto:mark@amerine.net">mark@amerine.net</a></p>
			</div>
			<br/>
		</div>	
	</div>
	<div class="clear"></div>
</section>