<div class="popular block">
	<div class="minimenu"><a href="#" class="active">Popular</a></div>
	<ul>
		<li><a href="/2010/02/24/rvm-rails3-ruby-1-9-2-setup.html">Rails 3.0 Setup using rvm &amp; Ruby 1.9.2</a></li>
		<li><a href="/2010/02/23/fix-rails-3.0-no-such-file-to-load-set.html">Fix Rails 3.0 `gem_original_require': no such file to load -- set (LoadError)</a></li>
		<li><a href="/2008/11/08/so-many-ideas-no-actions-ive-failed.html">So many Ideas. No actions. I've failed. I'm going to fix it.</a></li>
		<li><a href="/2009/10/19/rails-stack-on-opensolaris-2009.blog.html">Rails Stack on OpenSolaris 2009.06</a></li>
	</ul>
</div>