<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Mark, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I'm a technical leader and developer who builds your dreams.</p>

      <p>I build platforms at Salesforce.</p>
      <p>I mostly love art and everything beautiful.</p>
      <p>I've become an expert at building profitable, secure, fast & scalable cloud-based systems and solving hard problems. I love product design, development and prototyping. I can make Linux, Networks and the Cloud do anything.</p>
      <p>I’d love to learn about your company and see how I can help, feel free to send me an email!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>