body {
  /* font-family: lucida grande, tahoma, helvetica, arial, sans-serif; */
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5;
  background: #efefef;
  background: #fff;
}

a {
  color: #307EA9;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-weight: 100;
  margin: 40px -30px 30px -30px;
  padding: 15px 30px;
}

h2 {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  margin: 50px -30px 20px -30px;
  padding: 15px 30px;
}

h3 {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  margin: 50px -30px 20px -30px;
  padding: 15px 30px;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h1 .tiny {
  font-size: 9px;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  width: 750px;
}

#top {
  background-color: #2C2C2C;
  opacity: .9;
}

header.header {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

header.header a {
  color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
  font-weight: 100;
}

header.header a:hover {
  color: #C2DEF9;
}

section.name {
  float: left;
  width: 375px;
  height: 31px;
  text-align: left;
  margin: 0;
}

section.name h1 {
  border-top: none;
  border-bottom: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

section.name h1 a {
  line-height: 31px;
  text-align: center;
}

#menu {
  width: 375px;
  text-align: right;
  float: right;
  margin: 0;
  color: #666666;
  height: 31px;
}

#menu a {
  margin-left: 20px;
  float: right;
  text-align: center;
  line-height: 31px;
}

#menu a:hover {
  text-decoration: underline;
}

.posts {
  margin: 0 0 25px 0;
  padding: 0;
}

.posts li {
  list-style: none;
  padding: 7px 5px;
}

.posts li:hover {
  background-color: #eee;
}

.posts span.when {
  padding-top: 3px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
}

.content p {
  font-size: 20px;
  line-height: 1.75;
  margin: 25px 0;
}

footer {
  padding-top: 1.5em;
  font-size: .75em;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
